{% extends 'back/master.html' %}
{% load static %}


{% block mainblock %}


    <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Simple Tables</h1>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <!-- /.row -->
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Responsive Hover Table</h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table id="" class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th class="text-center">ID</th>
                      <th class="text-center">Image</th>
                      <th>Title</th>
                      <th>Date & Time</th>
                      <th>Category</th>
                      <th>Writer</th>
                      <th>Status</th>
                      <th>Views</th>
                      <th class="text-center">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for cc in news %}
                    <tr>
                      <td class="text-center">{{ cc.rand }}</td>
                      <td class="text-center"><img style="display: inline-block; width:50px; height:50px;" src="{{ cc.picurl }}" alt="avatar" class="img-circle"></td>
                      <td>{{ cc.name }}</td>
                      <td>{{ cc.date }} | {{ cc.time }}</td>
                      <td>{{ cc.catname }}</td>
                      <td>{{ cc.writer }}</td>
                        {% if cc.act == 0 %}
                      <td>Pending</td>
                        {% elif cc.act == 1 %}
                        <td>Confirmed</td>
                      {% endif %}
                        <td>{{ cc.show }}</td>
                      <td class="text-center">
                          <div class="btn-group">
                              <a href="{% url 'news_edit' pk=cc.pk %}" data-toggle="tooltip" title="Edit" class="btn btn-xs btn-default"><i class="fa fa-pencil">Edit</i></a>
                              <a href="{% url 'news_delete' pk=cc.pk %}" data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger"><i class="fa fa-times">Delete</i></a>
                              {% if perms.main.masteruser %}
                              <a href="{% url 'news_publish' pk=cc.pk %}" data-toggle="tooltip" title="Edit" class="btn btn-xs btn-default"><i class="fa fa-pencil">Publish</i></a>
                              {% endif %}
                          </div>
                      </td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
                Page {{ news.number }} From {{ news.paginator.num_pages }}
                <br/><br/>
              {% if news.has_previous %}
                <a href="?page={{ news.previous_page_number }}" data-toggle="tooltip" title="Previous" class="btn btn-xs btn-default">Previous</a>
              {% endif %}

              {% for i in news.paginator.page_range %}
                {% if news.number == i %}
                      <a href="#" onclick="return false;" data-toggle="tooltip" title="{{ Disables }}" class="btn btn-xs btn-default">{{ i }}</a>
                {% else %}
                      <a href="?page={{ i }}" data-toggle="tooltip" title="{{ i }}" class="btn btn-xs btn-default">{{ i }}</a>
                {% endif %}
              {% endfor %}

              {% if news.has_next %}
                <a href="?page={{ news.next_page_number }}" data-toggle="tooltip" title="Next" class="btn btn-xs btn-default">Next</a>
              {% endif %}
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->


{% endblock %}

