{% extends 'front/master.html' %}
{% load static %}


{% block headblock %}
<title>{{ site.name }} | All</title>
{% endblock %}


{% block mainblock %}


    <section class="bg0 p-t-60 p-b-40">
		<div class="container">
            <div class="col-sm-6 col-md-6">
                <form action="{% url 'all_news_search' %}" method="POST">
                {% csrf_token %}
                <input class="bo-1-rad-3 bocl13 size-a-19 f1-s-13 cl5 plh6 p-rl-18 m-b-20" type="txt" name="txt" placeholder="Inpur your word">
                <button type="submit" class="size-a-20 bg1 borad-2 f1-s-12 cl0 hov-btn1 trans-03 p-rl-15 m-t-20">
                Search
                </button>
                </form>
            </div>
        </div>
    </section>
	<!-- Latest -->
	<section class="bg0 p-t-60 p-b-40">
		<div class="container">


			<div class="row p-t-35">

                {% for i in allnews %}
				<div class="col-sm-6 col-md-4">
					<!-- Item latest -->
					<div class="m-b-45">
						<a href="{% url 'news_detail' word=i.name %}" class="wrap-pic-w hov1 trans-03">
							<img style="display: inline-block; width:350px; height:240px;" src="{{ i.picurl }}" alt="IMG">
						</a>

						<div class="p-t-16">
							<h5 class="p-b-5">
								<a href="{% url 'news_detail' word=i.name %}" class="f1-m-3 cl2 hov-cl10 trans-03">
									{{ i.name }}
								</a>
							</h5>

							<span class="cl8">
								<a href="#" class="f1-s-4 cl8 hov-cl10 trans-03">
									{{i.writer}}
								</a>

								<span class="f1-s-3 m-rl-3">
									-
								</span>

								<span class="f1-s-3">
									{{ i.date }}
								</span>
							</span>
						</div>
					</div>
				</div>
                {% endfor %}


                {% for i in allnews2 %}
				<div class="col-sm-6 col-md-4">
					<!-- Item latest -->
					<div class="m-b-45">
						<a href="{% url 'news_detail' word=i.name %}" class="wrap-pic-w hov1 trans-03">
							<img style="display: inline-block; width:350px; height:240px;" src="{{ i.picurl }}" alt="IMG">
						</a>

						<div class="p-t-16">
							<h5 class="p-b-5">
								<a href="{% url 'news_detail' word=i.name %}" class="f1-m-3 cl2 hov-cl10 trans-03">
									{{ i.name }}
								</a>
							</h5>

							<span class="cl8">
								<a href="#" class="f1-s-4 cl8 hov-cl10 trans-03">
									{{i.writer}}
								</a>

								<span class="f1-s-3 m-rl-3">
									-
								</span>

								<span class="f1-s-3">
									{{ i.date }}
								</span>
							</span>
						</div>
					</div>
				</div>
                {% endfor %}


			</div>
		</div>
	</section>

{% endblock %}